<%- include('header') -%>

<div class="admin-panel">
  <%- include('gametable') -%>
  <div class="forms">
    <div class="admin-form">
      <h2>Skrá nýjan leik</h2>
      <form action="/admin" method="post" id="adminForm">
        <% const today = new Date().toISOString().split('T')[0]; %>
        <label for="date">Dagsetning</label>
        <input type="date" name="date" placeholder="Dagsetning" value="<%= today %>" required>
        <label for="home">Heimalið</label>
        <select name="home" required>
            <option disabled selected value></option>
          <% locals.teams.forEach((team) => { %>
            <option value="<%= team.id %>"><%= team.name %></option>
          <% }); %>
        </select required>
        <label for="away">Útilið</label>
        <select name="away" required>
            <option disabled selected value></option>
          <% locals.teams.forEach((team) => { %>
            <option value="<%= team.id %>"><%= team.name %></option>
          <% }); %>
        </select required>
        <label for="home_score">Stig Heimaliðs</label>
        <input type="number" name="home_score" min="0" step="1" required>
        <label for="away_score">Stig Útiliðs</label>
        <input type="number" name="away_score" min="0" step="1" required>
        <input type="submit" value="Skrá leik">
      </form>
      <div id="status" style="display: none;"></div>
    </div>
    <div class="user-form">
      <h2>Skrá nýjan notanda</h2>
      <form action="/user" method="post" id="userForm">
        <label for="username">Notendanafn</label>
        <input type="text" name="username" required>
        <label for="password">Lykilorð</label>
        <input type="password" name="password" required>
        <input type="submit" value="Skrá notanda">
      </form>
      <div id="status" style="display: none;"></div>
    </div>
  </div>
</div>
<script>
  function handleStatus(elem, message, color) {
    elem.style.color = color;
    elem.innerHTML = message;
    elem.style.display = 'block';
    if (color === 'green') {
      document.forms['adminForm'].reset();
      setTimeout(function(){hide(elem);}, 2500);
    }
    function hide(element){
      element.style.display="none";
      element.style.color = 'black';
      elem.innerHTML = '';
    }
  }
  const forms = [document.forms['adminForm'], document.forms['userForm']];
  forms.forEach(form => {
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target))
      }).then((response) => {
          if (!response.ok) {
            return response.text().then((text) => {
              throw new Error(text);
            });
          }
          return response.text();
      }).then((body) => {
          if (form.id === 'userForm') {
            const statusElem = form.nextElementSibling;
            handleStatus(statusElem, body, 'green');
            form.reset();
          } else {
            window.location.reload();
          }
      }).catch((error) => {
          console.error(error);
          const statusElem = form.nextElementSibling;
          handleStatus(statusElem, error, 'red');
      });
  });
  });
</script>


<%- include('footer') -%>
